html{
    box-sizing: border-box;

}
body{
    width: 60%;
    margin: 0 auto;
    background-color: rosybrown;
    position: relative;
}

h1{
    text-align: center;
    text-transform: uppercase;
    color: black;
    font-size: 55px;
    margin: 15px auto 30px auto;
    font-family: sans-serif;
}

.container{
    margin:auto;
    width: 60%;
    height: 450px;
    display: flex;
    flex-wrap: wrap;
}

.blocos{
    height: 33.33%;
    width: 33.33%;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

.bloco1, .bloco4, .bloco7{
    border-right: 3px solid darkblue
}
.bloco3, .bloco6, .bloco9{
    border-left: 3px solid darkblue;
}
.bloco4, .bloco5, .bloco6{
    border-bottom: 3px solid darkblue;
    border-top: 3px solid darkblue;
}


.sub-blocos{
    height: 30%;
    width: 30%;
    border: 1px solid transparent;
    background-color: rgba(65, 105, 225, 0.384);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background 0.5s;
}
.sub-blocos:hover{
    background-color: rgba(65, 105, 225, 0.5);
}
.sub-blocos{
   font-size: 25px;
   color: rgb(65, 105, 225);
   font-family: sans-serif;
}

.fixo p{
    color: black;
}

button{
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    text-transform: uppercase;
    border-radius: 5px;
    border: none;
    background-color: rgba(65, 105, 225, 0.507);
    color: black;
    transition: background 0.7s;
    transition: font-size 0.7s;
}
button:hover{
    background-color: rgba(65, 105, 225, 0.822);
    font-size: 14px;
}

.invalidInput{
    width: 350px;
    height: 70px;
    border-radius: 20px;
    background-color: rgba(65, 105, 225, 0.822);
    color: blanchedalmond;
    display: none;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform:translate(-50%, -100%);
    font-family:Arial, Helvetica, sans-serif;
}









